<launch>
  
    <arg name="stateEstimationTopic" default="/state_estimation"/>
    <arg name="registeredScanTopic" default="/registered_scan" />
    <arg name="frame"  default="LOCAL" />

  <node pkg="loam_interface" type="loamInterface" name="loamInterface" output="screen" required="true">
    <param name="stateEstimationTopic" type="string" value="$(arg stateEstimationTopic)" />
    <param name="registeredScanTopic" type="string" value="$(arg registeredScanTopic)" />
    <param name="flipStateEstimation" type="bool" value="false" />
    <param name="flipRegisteredScan" type="bool" value="false" />
    <param name="sendTF" type="bool" value="true" />
    <param name="reverseTF" type="bool" value="false" />
    <param name="frame" type="string" value="$(arg frame)" />
  </node>

</launch>
